body {
  background-color:#444;
  color:#fff;
  font-family: Arial;
  font-weight: 200;
  text-align: center;
  
}
#form{
  padding:5px;
  margin-left:600px;
  margin-right:600px;
  
}
#botao{
  position:absolute;
  text-align: center;
}
#from{
  margin-left: 5px;
}
label{
  float:left;
  margin-top:15px;
  font-size:20;
  font-family: Verdana;
}
#to{
  margin-left: 250px;
}
#value{
  margin-top: 15px;
  margin-left: 5px;
}
input{
  margin:3px;
  font-size:40;
  font-family: Times;
  height: 20px;
  color:black;
  background-color: white;
}
#botao{
  color:black;
  background-color: white;
  height:30px;
  width:80px;
  margin-left:-50px
}
select{
  margin-left:5px;
  height: 30px;
  color:black;
  background-color: white;
}
p{
  visibility: hidden;
}